<!-- <div class="header-cont">
    <div class="header-title">
        <h2>FOR A BETTER WORLD</h2>
    </div>
</div> -->
<div class="title">
    <!-- <img id="logo" src="/images/icon-asparagus.png" alt="symbol"> -->
    <h3>PETITION FÜR SPARGEL EMOJI</h3>
</div>
