<!-- <div class="header-cont">
    <div class="header-title">
        <h2>FOR A BETTER WORLD</h2>
    </div>
</div> -->


<!-- <div class="title">
    <img id="logo-left" src="/images/Spargel_Emoji-Header-B-right.png" alt="symbol">
    <h3>Petition für Spargel Emojis</h3>
    <img id="logo-right" src="/images/Spargel_Emoji-Header-B-left.png" alt="symbol">
</div> -->
