<!doctype html>
<html>
    {{>map-head}}
    <body>
        {{{body}}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV5ZSn5qt50Ulwj46BFyCGPWr82mKaCoE&callback=initMap"
      type="text/javascript"></script>
        <script src="/city-map.js"></script>
    </body>
</html>
