{{>header}}
<div class="body-title">
    <h2>Please tell us more about yourself!</h2>
</div>
<form action="/info" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="form">
        <input id="age" name="age" type="text">
        <p>Age</p>
    </div>
    <div class="form">
        <input id="city" name="city" type="text">
        <p>City</p>
    </div>
    <div class="form">
        <input id="homepage" name="homepage" type="text">
        <p>Homepage</p>
    </div>
    <button type="submit">CONTINUE</button>
</form>
<div id="error-message">{{error}}</div>
