<h2>Please tell us more about yourself!</h2>
<form action="/info" method="POST">
    <div>
        <input id="age" name="age" type="text" autofocus placeholder="your age (optional)">
        <p>Age</p>
    </div>
    <div>
        <input id="city" name="city" type="text" placeholder="your city (optional)">
        <p>City</p>
    </div>
    <div>
        <input id="homepage" name="homepage" type="text" placeholder="homepage (optional)">
        <p>Homepage</p>
    </div>
    <button type="submit">CONTINUE</button>
</form>
<div id="error-message">{{error}}</div>
