<h1>Please log in</h1>
<form action="/login" method="POST">
    <div>
        <input id="mail" name="mail" type="text" placeholder="Enter email" autofocus required>
        <p>Email Address</p>
    </div>
    <div>
        <input id="pass" name="pass" type="password" placeholder="Enter password" required>
        <p>Password</p>
    </div>
    <button type="submit">LOG IN</button>
</form>
<div id="error-message">{{error}}</div>
