<h2>Why is there no Asparagus Emoji?</h2>
<h1>Sign our petition!</h1>
<p>We demand a new Emoji for Europe's favorite vegetable - Asparagus!</p>
<div id="error-message">{{error}}</div>
<form action="/sign" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div>
        <p>Sign here:</p>
        <canvas id="sign-field" width="500" height="100"></canvas>
        <p>{{name}}</p>
        <input id="sig" name="sig" type="hidden">
    </div>
    <button type="submit">SUBMIT</button>
</form>
<a id="logout" href="/logout">Logout</a>
<script src="script.js"></script>
