<h2>Why is there no Asparagus Emoji?</h2>
<h1>Sign our petition!</h1>
<p>We demand a new Emoji for Europe's favorite vegetable - Asparagus!</p>
<div id="error-message">{{error}}</div>
<form action="/" method="POST">
    <div>
        <input id="first" name="First" type="text">
        <p>First Name</p>
    </div>
    <div>
        <input id="last" name="Last" type="text">
        <input id="sig" name="sig" type="hidden">
        <p>Last Name</p>
    </div>
    <div>
        <canvas id="sign-field" width="500" height="100"></canvas>
    </div>
    <button type="submit">SUBMIT</button>
</form>
<script src="script.js"></script>
