<h2>The world is aching for Asparagus Emojis</h2>
<h2>-</h2>
<h2>Do your part and join our campaign!</h2>
<h2>Every voice counts</h2>
<form action="/" method="POST">
    <div>
        <input id="first" name="First" type="text" autofocus placeholder="Enter first name">
        <p>First Name</p>
    </div>
    <div>
        <input id="last" name="Last" type="text" placeholder="Enter last name">
        <p>Last Name</p>
    </div>
    <div>
        <input id="mail" name="mail" type="text" placeholder="Enter email">
        <p>Email Address</p>
    </div>
    <div>
        <input id="pass" name="pass" type="password" placeholder="Enter password">
        <p>Password</p>
    </div>
    <button type="submit">SIGN UP</button>
</form>
<a id="login" href="/login">Log in</a>
<div id="error-message">{{error}}</div>
