{{>header}}
<div class="body-title">
    <h1>Thank you for Signing!</h1>
</div>
<div class="signed-display">
    <div class="nav-select">
        <a class="button" id="link" href="/signAgain">Change Signature</a>
        <a class="button" id="edit" href="/edit">Edit Profile</a>
        <a class="button" href="/delete">Unsign from Petition</a>
    </div>
    <div class="signature-field">
        <p>Your Signature:</p>
        <img id="signed" src="{{img}}">
        <div id="name-clear">
            <p id="name2">{{name}}</p>
        </div>
    </div>
</div>
<a class="button" id="signers-link" href="/signers">See all {{numSig}} Signers</a>
<a id="logout" href="/logout">Logout</a>
<img id="emoji-spec" src="/images/Asparagus-512.png" alt="green emoji">
