{{>header}}
<div class="signer-title">
    <h2>Wir die Unterzeichner verlangen die Einführung eines Spargel Emoji!</h2>
</div>
<div class="">
    <p id="map-text">Karte der Unterzeichner:</p>
    <div id="signerMap"></div>
</div>
<div class="signer-container">
    {{#each signers}}
        <div class=info-box>
            <p class="signers">{{#if this.first}}{{this.first}} {{/if}}{{#if this.last}}{{this.last}} {{/if}}</p><p class="signers">{{>age-city}}</p>
        </div>
    {{/each}}
</div>
