{{>header}}
<h1>Thank you for signing!</h1>
<p>Your old signature:</p>
<img id="signed" src="{{img}}">
<a id="link" href="/signers">&lt; Keep signature and see all {{numSig}} signers &gt;</a>

<form action="/signAgain" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input id="sig" name="sig" type="hidden">
    <div>
        <p>Sign here:</p>
        <canvas id="sign-field" width="320" height="160"></canvas>
        <button id="clear" type='button'>CLEAR</button>
        <p>{{name}}</p>
    </div>    
    <button type="submit">SUBMIT</button>
</form>
<a id="logout" href="/logout">Logout</a>
<script src="script.js"></script>
