{{>header}}
<div class="body-title">
    <h2>Die Welt braucht ein Spargel Emoji<br> - in Grün und Weiß!</h2>
</div>
<div class="welcome-body">
    <div id="body-imgs">
        <div id="img-container">
            <img id="spargel-weiss" src="/images/Spargel_Emoji-weiss-1600px.png" alt="symbol">
            <img id="spargel-gruen" src="/images/Spargel_Emoji-gruen-1600px.png" alt="symbol">
        </div>
    </div>
    <!-- <h2>Hast Du Dich je gefragt, warum es Emojis für Gemüse wie Aubergine, Mais oder sogar Brokkoli gibt, aber nicht für Spargel?</h2> -->
    <h2>Warum gibt es Emojis für Aubergine, Mais und Brokkoli, <br>aber nicht für Spargel?</h2>
    <h2>Join the Movement und unterzeichne die Petition!</h2>
</div>
<form action="/" method="POST" autocomplete="off">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div class="form">
        <input id="first" name="First" type="text">
        <p>Vorname</p>
    </div>
    <div class="form">
        <input id="last" name="Last" type="text">
        <p>Nachname</p>
    </div>
    <div class="form">
        <input id="city" name="city" type="text">
        <p>City</p>
    </div>
    <div id="error-message">{{error}}</div>
    <div class="signature-field">
        <p>Unterschrift:</p>
        <canvas id="sign-field" width="320" height="160"></canvas>
        <div id="name-clear">
            <p id="name">{{name}}</p>
            <button id="clear" type='button'>Clear</button>
        </div>
        <input id="sig" name="sig" type="hidden">
    </div>
    <button type="submit">ABSCHICKEN</button>
</form>
<h2 id="voice">Jede Stimme zählt!</h2>
<a id="num-sig" href="/signers">Bisherige Unterstützer: {{numSig}}</a>
<a id="xiroi-link" href="https://www.facebook.com/events/2008190842834662/">Official Kickoff Event 26.05.2018 Berlin</a>
<a id="xiroi-link" href="https://www.facebook.com/events/2008190842834662/">
    <img id="spargelfest-img" src="/images/spargelfest.png" alt="Xiroi Spargelfest">
</a>
<p>© Xiroi</p>
<script src="script.js"></script>
