<h1>Thank you for signing!</h1>
<p>Your signature:</p>
<img id="signed" src="{{img}}">
<a id="link" href="/sign">Change signature</a>
<a id="link" href="/signers">&lt; See all {{numSig}} signers &gt;</a>
