{{>header}}
<div class="body-title">
    <h2>Hast Du Dich je gefragt, warum es Emoji für Gemüse wie Aubergine, Mais oder sogar Brokkoli gibt, aber nicht für Spargel?</h2>
</div>
<div class="welcome-body">
    <h2>Die Welt braucht Spargel Emoji - ein grünes und ein weißes</h2>

</div>
<div class="">
    <h2>Join the Movement und zeichne die Petition!</h2>
    <a class="button" id="enter" href="/enter">Enter</a>
</div>
<a id="login" href="/login">Log in</a>
