{{>header}}
<div class="body-title">
    <h2>Have you ever wondered why there are Emoji for Vegetables like Eggplant, Avocado, or Hot Pepper, but none for Asparagus?</h2>
    <h3>Asparagus is very healthy and has a special taste - Germans call it King of Vegetables!</h3>
</div>
<div class="">
    <p id="map-text">Check out this Map that shows which kind of Asparagus is popular in wich Regions of Europe:</p>
    <div id="aspMap"></div>
</div>
<div class="welcome-body">
    <h2>It is obvious that the World needs two Asparagus Emoji - a green one and a white one!</h2>
    <div class="mockup">
        <p>Here's a Mockup for the green Asparagus Emoji:</p>
        <img id="emoji" src="/images/Asparagus-512.png" alt="green emoji">
    </div>
</div>
<div class="">
    <h2>Join the Movement and sign our Petition!</h2>
    <a class="button" id="enter" href="/enter">Enter</a>
</div>
<a id="login" href="/login">Log in</a>
