/*-----------------GENERAL STUFF------------*/
*{
    color: green;
    margin: 0 auto;
    box-sizing: border-box;
    font-family:'Proxima Nova', sans-serif;
    user-select: none;
}

html{
    font-size: 10px;
}

body {
    background-color: white;
    text-align: center;
    width: 100%;
    display: block;
}

h1, h2, h3, p {
    cursor: default;
}

/*----------------------HEAD-----------------------*/
.header-cont {
    background-image: url("/images/spargel.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: -180px;
    background-attachment: fixed;
}

.header-title {
    width: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.header-title h2 {
    position: relative;
    color: white;
    line-height: 1.5em;
    text-align:right;
    font-family: 'proxima_nova_ltthin';
    padding-right: 30px;
    font-size: 3rem;
}

.title {
    /* -webkit-position: sticky; */
    position: sticky;
    top: -1px;
    /* background-color: #a4b937; */
    background-color: #bcbcbc;
    z-index: 10000;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.title h3 {

    color: white;
    line-height: 1.5em;
    font-size: 4.5em;
    padding: 15px;
    margin: auto 20px;
    /* font-family: 'proxima_nova_ltthin'; */
}

#logo-left {
    height: 90px;
    margin-left: 20px;
    margin-right: 0;
    /* position: absolute; */
    /* left: 10px;
    top: calc(50% - 45px); */
}
#logo-right {
    height: 90px;
    margin-right: 20px;
    margin-left: 0;
    /* position: absolute; */
    /* right: 10px;
    top: calc(50% - 45px); */
}


/*-----------------BODY------------------*/

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    min-width: 150px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    min-width: 300px;
}

.body-title h2 {
    margin: 20px auto;
    max-width: 800px;
}

.body-title h3 {
    font-size: 2rem;
    margin: 80px auto;
    min-width: 300px;
    max-width: 600px;
}

.welcome-body h2 {
    margin: 20px auto 50px;
    padding: 0 30px;
    max-width: 800px;
}

#body-imgs {
    display: flex;
    justify-content: center;
}

#spargel-weiss, #spargel-gruen {
    width: 200px;
    height: 200px;
    margin: 0 16px;
}

.mockup {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mockup p {
    max-width: 150px;
    margin: auto 30px;
}

.body-title {
    margin: 50px 200px 50px 200px;
    width: auto;
}

.signer-title {
    margin: 50px 150px 50px 150px;
    width: auto;
}

p {
    font-size: 1.7rem;
}

#name, #name2 {
    font-style: italic;
    font-family: 'proxima_nova_ltthin';
    margin: 10px 0 10px 0;
    text-align: left;
}

#name {
    display: inline-block;
}

.signers{
    font-size: 1.7rem;
    font-style: italic;
    font-family: 'proxima_nova_ltsemibold';
    margin: 10px 0 10px 0;
}

.signers-part {
    font-size: 1.7rem;
    font-style: italic;
    font-family: 'proxima_nova_ltsemibold';
}

.signer-container {
    margin: 10px 25px 36px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

#name-clear {
    width: 300px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#clear {
    font-family: 'proxima_nova_scosfthin';
    color: #a4b937;
    background-color: white;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 1.5rem;
    padding: 5px;
    border: #a4b937 solid 1px;
    border-radius: 5px;
}

#sign-field {
    border: #a4b937 dashed 2px;
}

button, .button {
    font-family: 'proxima_nova_ltthin';
    background-color: #a4b937;
    color: white;
    border-style: none;
    border-radius: 5px;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
}

.button {
    font-size:1.8rem;
    display: block;
}

#keep, #enter {
    max-width:150px;
    margin: 20px auto;
}

#enter {
    margin-top: 40px;
    font-size: 4rem;
    font-family: 'proxima_nova_altbold';
}

button:hover, #login:hover, .button:hover {
    background-color: #8a9c2c;
    cursor: pointer;
}

button:focus {
    outline:0;
}


#signers-link {
    cursor: pointer;
    padding: 10px;
    margin: 60px auto;
    font-size: 3rem;
    max-width: 280px;
    border-radius: 10px;
    font-family: 'proxima_nova_ltsemibold';
    background-color: white;
    color: #a4b937;
    border: #a4b937 solid 1px;
}

.signed-display {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    max-width: 700px;

}

#sign-again {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px;
}

.nav-select {

}

#sig, #signed {
    width: 320px;
    height: 160px;
    border: #a4b937 solid 1px;
    border-radius: 10px;
}

#emoji {
    height: 200px;
    margin: 30px;
}

#emoji-spec {
    height: 100px;

    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: calc(50% - 44px);
    display:block;
}

#emoji-spec:hover {
    height: 200px;
    border: #a4b937 solid 1px;
    margin-top: -50px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: calc(50% - 180px);
}

.signature-field {
    padding: 0 15px;
}

#old-sig {
    margin-bottom: 30px;
}

.signature-field p {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.info-box p, a {
    color: #a4b937;
    display:inline-block;
}

.info-box {
    /*overflow: hidden;*/
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 0 8px;
    margin: 5px 5px;
    border: #a4b937 solid 1px;
}

.form {
    width: 250px;
    text-align: left;
    margin-bottom: 10px;
}

.form p {
    margin-top: 3px;
    font-size: 1.3rem;
    /* font-family: 'proxima_nova_scosfthin'; */
}

.form input {
    font-size: 1.5rem;
    line-height: 1.8rem;
    width: 100%;
    color: black;
}




#logout, #login {
    font-family: 'proxima_nova_scosfthin';
    float:right;
    color: #a4b937;
    border-style: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    margin: 20px 30px;
    text-decoration: none;
    border: #a4b937 solid 1px;
}

#logout:hover, #clear:hover, #signers-link:hover, .info-box:hover  {
    background-color: #e3e0e0;
}

#voice {
    margin-top: 10px;
    font-size: 2rem;
    /* font-family: 'proxima_nova_scosfthin'; */
}

#num-sig {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 2rem;
    /* font-family: 'proxima_nova_scosfthin'; */
}

#xiroi-link {
    font-size: 2.5rem;
    margin-bottom: 20px;
    min-width: 300px;
    font-family:'Proxima Nova', sans-serif;
    color: green;
    text-decoration: none;
    display: block;
}

#spargelfest-img {
    width: 600px;
    max-width: 100vw;
    min-width: 200px;
}

#error-message {
    font-size: 2rem;
    margin: 20px 0;
}

#mapid {
    height: 70vh;

    /*pointer-events: auto;*/
}

#signerMap{
    height: 50vh;
    margin: 5px 80px 30px 80px;
    min-width: 60vw;
    border: #a4b937 solid 1px;
}

#aspMap {
    height: 70vh;
    margin: 5px 100px 30px 100px;
    min-width: 60vw;
    border: #a4b937 solid 1px;
}

.info-window {
    border: #a4b937 solid 1px;
    border-radius: 10px;
    padding: 5px;
}

.info-window * {
    color: #a4b937;
    font-style: normal;
    font-size: 1.5rem;
}

/*---------------MOBILE----------------*/
@media screen and (max-width: 500px) {
    html{
        font-size: 11px;

    }

    /**{
        overflow-x: hidden;
    }*/

    .header-cont {
        background-position-y: center;
        background-attachment: scroll;
    }

    .header-title {
        width: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 8px;
    }

    .header-title h2 {
        line-height: 1.5em;
        text-align:right;
        font-family: 'proxima_nova_ltthin';
        padding-right: 30px;
        font-size: 2.5rem;
    }

    .body-title {
        margin: 30px 30px 20px 30px;
        width: auto;
    }

    .title {
        position: static;
    }

    .title h3 {
        font-size: 4em;
        margin: 0 25px 0 25px;
        padding: 10px 0;
    }

    #logo {
        height: 60px;
        top: calc(50% - 30px);
    }

    .signer-title {
        margin: 30px 30px 20px 30px;
        width: auto;
    }

    .signer-title h2 {
        font-size: 2rem;
    }

    .signer-container {
        margin-left: 0;
        margin-right: 0;
    }



    #signerMap, #aspMap{
        height: 50vh;
        margin: 5px 10px 30px 10px;
        min-width: 60vw;
        border: #a4b937 solid 1px;
    }

}
