
*{
    color: green;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    user-select: none;
    font-family:'Proxima Nova', sans-serif;

}

h1, h2, h3, p {
    cursor: default;
}

body {
    background-color: white;
    text-align: center;
    width: 100%;

}

canvas {
    border: red dashed 2px;
    /*position: fixed;*/
}

button {

    background-color: black;
    border-radius: 15px;
    width: 150px;
    height: 80px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

#sig {
    width: 500px;
    height: 100px;
}

#signed {
    width: 500px;
    height: 100px;
}

.info-homepage p, a {
    display:inline-block;
}
